{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <link href="{% static 'account/404/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
    #main {
    height: 100vh; }

    </style>
</head>
<body>

<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">Запрашиваемая страница не найдена.</h2>
    </div>
</div>

</body>
</html>